@use "bulma/sass" with (
    $family-sans-serif: 'system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif'
);


.text-rate-1 {
    color: firebrick;
    font-weight: bold;
}
.text-rate-2 {
    color: orangered;
    font-weight: bold;
}
.text-rate-3 {
    color: darkorange;
    font-weight: bold;
}
.text-rate-4 {
    color: mediumseagreen;
    font-weight: bold;
}
.text-rate-5 {
    color: green;
    font-weight: bold;
}
