<%inherit file="base.html"/>

<h1 class="title has-text-centered">${title}</h1>

% for page in reversed(pages):
<div class="columns">
  <div class="column is-full">
    <article class="notification has-background-success-light">
      <div class="columns">
        <div class="column">
          <a class="title" href="${page.id}">${page.title}</a>
        </div>
        % if page.date:
        <div class="column is-narrow">
          <h2 class="subtitle">${page.date.strftime('%H:%M %d/%m/%Y')}</h2>
        </div>
        % endif
      </div>
      <div class="block content">
        % if page.summary:
        <p>${page.summary}</p>
        % endif
      </div>
    </article>
  </div>
</div>
% endfor
