<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    % if page:
    <title>Filipe Laíns - ${page.title}</title>
    % else:
    <title>Filipe Laíns</title>
    % endif

    % if ctime and mtime:
    <meta property="article:published_time" content="${ctime.isoformat()}">
    <meta property="article:modified_time" content="${mtime.isoformat()}">
    % endif

    <link rel="stylesheet" href="${css}/style.css">
    <link rel="stylesheet" href="${css}/pygments.css">

  </head>
  <body>
  <section class="section">
    <div class="container">

      <nav class="navbar is-transparent pb-3" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="${url}">
            <h1 class="title">Filipe Laíns</h1>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="main-navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="${root}">Home</a>
            % for section in sections:
            <a class="navbar-item" href="${root}/${section.output_path.as_posix()}">${section.name}</a>
            % endfor
          </div>
        </div>
      </nav>

      ${self.body()}
    </div>
  </section>
  </body>
  <script src="${js}/bulma-navbar.js"></script>
</html>
