<%inherit file="base.html"/>

<h1 class="title has-text-centered">Blog Posts</h1>

% for post in reversed(posts):
<div class="columns">
  <div class="column is-full">
    <article class="notification has-background-success-light">
      <div class="columns">
        <div class="column">
          <a class="title" href="${post.id}">${post.title}</a>
        </div>
        <div class="column is-narrow">
          <h2 class="subtitle">${post.date.strftime('%H:%M %d/%m/%Y')}</h2>
        </div>
      </div>
      <div class="block content">
        % if post.summary:
        <p>${post.summary}</p>
        % endif
      </div>
    </article>
  </div>
</div>
% endfor
